<!DOCTYPE html>
<html>
<head>
  <title>Danny Giap</title>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <nav class="sticky">
    <ul id="main-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li class="push "><a href="/contact">Contact</a></li>
    </ul>
  </nav>