<%- include("partials/header") %>

<div class="cover-about">
  <div class="measure-wide center">
    <h2>Introduction</h2>
    <p class="paragraph lh-copy">
      Hi there! My name is Danny, I am 22 years old and currently attending San
      Jose State University. I was raised as the youngest of four in Elk Grove,
      California. Some of my hobbies include lifting weights, playing tennis,
      reading, and video games. Throughout my college career I have wandered up
      and down California, attending three different colleges in search for a
      place that was best for me. After transferring from one school to another
      and changing to different engineering majors along the way, I have finally
      found my home at San Jose State University in pursuit of a degree in
      Software Engineering.
    </p>
    <hr class="measure-wide" />
    <br />
    <h2>Goals</h2>
    <p class="paragraph lh-copy">
      As a newcomer to the Software Engineering major I realize that there is a
      lot I need to learn. With the overwhelming amount of technologies,
      programming languages, frameworks, libraries, and algorithms, I figured it
      would be best if I focus on what's important in the tech industry. I am
      doing my best to take it one step at a time in order to understand all the
      different pieces of the bigger picture. I want to know how things such as
      websites, social media platforms, and mobile apps work underneath the hood
      as well as the engineering process that happens with it. My goal is to use
      what I learn during my own time and in my coursework to become a competent
      software engineer. I have a long journey ahead of me, but it is as
      exciting as it is intimidating and I am looking forward to what lies
      ahead.
    </p>
  </div>
</div>

<%- include("partials/footer") %>
