<%- include("partials/header") %>

<div class="cover-about">
	<div class="measure-wide center mobile">
		<h2>Introduction</h2>
		<p class="paragraph lh-copy">
			Hi there! My name is Danny, I am 22 years old and currently attend San Jose State University. I was raised as the youngest of four in Elk Grove, California. Some of my hobbies include lifting weights, playing tennis, reading, and video games. Throughout my college career I have wandered up and down California, attending three different colleges in search for a place that was best for me. After transferring from one school to another and changing to different engineering majors along the way, I have finally found my home at San Jose State University in pursuit of my degree in Software Engineering. 
		</p><hr class="measure-wide"><br>
		<h2>Goals</h2>
		<p class="paragraph lh-copy">
			As a newcomer to the Software Engineering major I realize that there is a lot I need to learn. With the overwhelming amount of technologies, programming languages, frameworks, libraries, algorithms, and data structures, I figured it would be best if I focus on the important topics that are most valuable in the tech industry. Even though diving straight into the technological world to learn what I need to know is a daunting task, I am doing my best to do take it one step at a time. I want to to understand all the different pieces of the bigger picture. I want to know how things such as websites, social media platforms, and mobile apps work underneath the hood as well as the engineering process that goes with it. My goal is to use what I learn on my own time and at university to become a competent software engineer. I have a long journey ahead of me, but it is as exciting as it is intimidating and I am looking forward to it all.
		</p>
	</div>
</div>

<%- include("partials/footer") %>