<%- include("partials/header") %>

<div class="pa6 vh-100 contact tc">
	<h1 class="lh-title">Contact</h1>
	<p>Send me an email!</p>
	<ul class="list pl0 lh-copy">
		<li>Email: dannygiap@gmail.com</li>
	</ul>
</div>

<%- include("partials/footer") %>
