<%- include("partials/header") %>
<div class="cover-home container">
  <div class="cover-picture"><img src="profile.jpg" /></div>
  <div class="cover-text">
    <h1>DANNY GIAP</h1>
    <p>Driven to learn about the technologies that connect us to the world.</p>
  </div>
</div>

<!-- <h3>JavaScript frameworks to learn in 2020</h3>
  <ul class="list pl0 white">
    <li>Vue.js</li>
    <li>Angular</li>
  </ul> -->
<div id="projects">
  <h2>Software Projects</h2>
  <div class="grid-wrapper">
    <a href="https://safe-journey-92068.herokuapp.com/" target="_blank">
      <div class="box">
        <h5>News Aggregation Web Application</h5>
        <p>
          Retrieves latest news article from a variety of topics. Full stack web
          application with login and authentication
        </p>
      </div>
    </a>
    <a href="http://dankbank.us/" target="_blank">
      <div class="box">
        <h5>Debt Management Web Application</h5>
        <p>Full stack web application to help keep track of group debt</p>
      </div>
    </a>
    <a href="https://face-box-detect.herokuapp.com/" target="_blank">
      <div class="box">
        <h5>Face Detection Web Application</h5>
        <p>Detects faces in photos using a face detection API</p>
      </div>
    </a>
  </div>
</div>
<%- include("partials/footer") %>
