<%- include("partials/header") %>
  <div class="cover-home container">
    <div class="cover-picture"><img src="profile.jpg"></div>
    <div class="cover-text">
      <h1>DANNY GIAP</h1>
      <p>Driven to learn about the technologies that connect us to the world.</p>
    </div>
  </div>
  <div class="section-1 h5">
    <h3>JavaScript frameworks to learn in 2020</h3>
    <ul class="list pl0 white">
      <li>Vue.js</li>
      <li>Angular</li>
    </ul>
  </div>
<%- include("partials/footer") %>